body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.upload-section {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    margin-bottom: 20px;
    color: #123524;
}

input[type="file"] {
    display: none;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #123524;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #123524;
}

.download-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #123524;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #123524;
}

canvas {
    border: 1px solid #ddd;
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
}

.container {
    text-align: center;
    padding-bottom: 40px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contribute {
    text-align: center;
    margin-top: 50px;
}

.contribute a {
    color: #123524;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.contribute a:hover {
    color: #123524;
}
